__pycache__
venv
backend/crop-selector/dev/datasets/crop_yield_by_region_older.csv
backend/crop-selector/dev/datasets/crop_yield_by_region.csv
backend/crop-selector/dev/datasets/crop_yield_by_soil.csv
